<div id="AboutView">

    <div id="PageCover">

    </div>
    <button id="Explore" title="Click to explore">MENU</button>

    <div id="ItemBox" class="row-fluid">
        <div class="col-lg-1 GalleryItemsStyle" *ngFor="let item of galleryItems">
            <input (click)="changeLocation(item.ItemURL)" type="image" src="{{item.ImageURL}}" class="ImageItemsStyle" title="{{item.Name}}" value="{{item.Value}}" />
            <input type="text" class="DescriptionItemsStyle" value="{{item.Description}}" maxlength="1000" />
        </div>
    </div>
</div>

