
<div (click)="changeLocation('')" id="PrivacyPolicyView">

    <div id="PageCover">

    </div>
    <button id="Explore" title="Click to explore" onclick="MakeVisiable()">MENU</button>

    <div id="PrivacyPolicyBox">

        <article id="PrivacyPolicyText">
            NAOX does not collect or publish any personal information. If you would like to report any violations of this policy, please contact us at
            <b id="ContactAddress">n305.net@gmail.com</b>
        </article>
    </div>
</div>

